body {
    background: white url(../pic/bg/funky-lines.png) 0px 0px/350px 350px;
    animation: slide 45s linear infinite;
}

#fakeHeader {
    padding: 20px;
}

.container-fluid {
    background: yellow;
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity:0;
    transform: translateY(5px);
    transition:.5s ease all;
    position: relative;
    float: ;
}

.dropdown-menu.show {
    display: block;
    visibility: visible;
    transform: translateY(0px);
    transition: .3s ease-out all;
    animation: fadein .3s ease-out 1 normal forwards;
    position: relative;
    float: none;
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 400px; }
}

@keyframes fadein {
    from { opacity: 0;}
    to {opacity: 1;}
}