/* ---------- Summary of reference sintax for CSS ----------
#:      id
.:      class
(tag):  tag
*/

/* body {
  animation: slide 45s linear infinite;
}
@keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -400px 400px; }
}

@keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
} */
/* https://paletton.com/#uid=53u2k0kfBZg1j+Z9w+mkGXdppSu */
#myPic {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background:	#87CFFA;
  margin-top: 50px;
}
hr {
  margin-bottom: 10px;
}
h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
h2 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h5 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}
li {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span {
  color: #87CEFA;
}
.strongColor {
  color: black;
  font-size: 20px;
  /* text-shadow: 1px 1px; */
}
.topInfo {
  color: black;
}
#myCurrentAge {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.picContainer {
  text-align: center;
  color: white;
}
.bottom-center {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 10px;
}
.card {
  border: 0px;
  margin-bottom: -1px;
}

.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #87CEFA;
  display: block;
  transition: 0.3s;
}
#info {
  position: absolute;
  bottom: 5px;
  font-size: 10px;
  color: grey;
  right: 0px;
  left: 0px;
}
#downCV {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  bottom: 30px;
  font-size: 16px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #FFCB35;/* #f1f1f1;*/
}
.card-header {
  background: #3aa6e6;
  cursor: pointer;
  transition: 0.3s;
}
.card-header:hover {
  background: #FFCB35;
}
.card-body {
  background: #B6E3FD;
  margin: 0px;
  padding: 1px;
  padding-bottom: 5px;
}

/* Page content */
#main {
  margin-left: 30%;
  max-width: 780px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 13px;}
  #downCV {font-size: 10px;}
}