body {
    background: white url(../pic/bg/funky-lines.png) 0px 0px/350px 350px;
    -webkit-animation: slide 45s linear infinite;
  }

#fakeHeader {
    padding: 20px;
}
  
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 400px; }
}